<div class="container">
	<form asp-action="Search" method="get">
		<input type="text" name="searchString" placeholder=" Nhập Khách Hàng cần tìm....."
			   value="@ViewBag.SearchString" />
		<input type="submit" value="Tìm kiếm " />
	</form>
	<table class="table">
		<thead>
			<tr>

				<th> Mã Khách Hàng</th>
				<th>
					Tên Khách Hàng
				</th>
				<th> Địa Chỉ </th>
				<th>Phone Number </th>
				<th>Email</th>
			</tr>
		</thead>
		<tbody>
			@foreach (var item in ViewBag.Customer)
			{
				<tr>
					<td width="30">@item.CustomerId</td>
		
					<td width="40%">
						<a a asp-action="Edit" asp-route-id="@item.CustomerId">Edit</a>
						<a asp-action="Delete" asp-route-id="@item.CustomerId">
							Delete
						</a>
						<a asp-action="Detail" asp-route-id="@item.CustomerId">Details</a>
					</td>
				</tr>
			}
		</tbody>
	</table>
	<a asp-controller="Customer" asp-action="Create" class="btn btn-primary"> Thêm mới</a>
</div>